@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFC0CB;
}

@media (max-width:350px) {
  .response-btns {
    flex-direction: column;
  }

  .response-add-btn {
    width: 100%;
  }

  .response-flower {
    left: -30px;
  }

  .response-header {
    font-size: 27px;
  }
}